/* HEAD NAV */

.head-nav {
    background-color: #192537;
}
.container-fluid a img {
    height: 9rem;
    width: 12rem;
}
.navbar-nav a:hover {
    background: #949494;
    border-radius: .25rem;
    transition: background .25s ease-in;
}
#nav-btn {
    border: 1px solid #b09e80;
}
#nav-span {
    color: #b09e80;
}
.navbar-nav {
    margin-left: auto;
}
#dropdownMenuButton {
    background-color: #192537;
    border: none;
}
#dropdownMenuButton:hover {
background-color: #949494;
}
.dropdown-menu {
    border: 1px solid #b09e80;
    background-color: #192537;
}
.dropdown-item {
    color: white;
}
.dropdown-menu .dropdown-item:hover {
    background: #b09e80;
    
}


/* Main Office Carousel */

#background {
    background-color: #b09e80;
}
#smallCarousel {
    font-size: .25em;
}



/* ABOUT SECTION */

#aboutSection {
    background-color: #192537;
    padding: 5rem 5rem 5rem 5rem;
}
.aboutText {
    background-color: #b09e80;
    min-height: 80vh;
    padding-right: 3rem;
    padding-left: 3rem;
}
.imgAbout {
height: 70vh;
min-width: 20rem;
margin-left: -3rem;
}


/* FEATURED PROPERTIES */

.featuredProps {
    background-color: #192537;
}
#borderTop {
    width: 83vw;
    border-top: .2rem solid #b09e80;
    margin: 0 auto;
}
.featuredProps h3 {
    color: white;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.forSale {
    background-color: rgb(192, 6, 6);
    position: absolute;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
    padding: .25rem .5rem;
    border-radius: .2rem;
    left: .75rem;
    top: .75rem;
    text-transform: uppercase;
    /* z-index: 3; */
}
.card-body {
    color: #000;
}
.card-img-top:hover {
opacity: .5;
}
.cardFeat {
    margin-left: -2rem;
}
.cardFeat li {
    display: inline;
}
.cardFeat li:nth-of-type(2) {
    margin-left: 1rem;
}
.cardFeat li:nth-of-type(3) {
    margin-left: 1rem;
}
.viewMore {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
}
.anchor {
    text-decoration: none;
}
#viewMore {
    border: 1px solid #b09e80;
    color: white;
    background-color: #192537;
}
#viewMore:hover {
    background-color: #b09e80;
    color: #192537;
}


/* FOOTER */

.footer {
    background-color: #b09e80;
    padding: 3rem 3rem 1rem 3rem;
}

.listComp .listCompTitle{
    font-size: 16px;
    line-height: .75rem;
    padding-bottom: 1.5rem;
    color: #192537;
}

.listComp .listMain{
    margin: 0;
    padding: 0 0 1rem 0;
    list-style-type: none;
}

.listComp .listMain li{
    line-height: .75rem;
    padding-bottom: 1rem;
}

.listComp .listMain li a {
    color: #fff;
    text-decoration: none;
}
.listComp .listMain li a:hover {
  color: #192537;
  text-decoration: none;
}
.subCompTitle{
    font-size: 16px;
    line-height: .75rem;
    padding-bottom: 1.5rem;
    color: #192537;
}
.getInTouch .touchTitle{
    font-size: 16px;
    line-height: .75rem;
    padding-bottom: 1.5rem;
    color: #192537;
}
.getInTouch .mainList {
  padding: 0 0 2rem 0;
  list-style-type: none;
}
.getInTouch li a {
  color: #fff;
}
.getInTouch li {
  line-height: .5rem;
}
.mainList li p:nth-of-type(3) {
    margin-left: -.5rem;
}
#phoneNum {
    font-size: .85rem;
}
#socialIcons {
    margin-left: -.25rem;
}
.footer-address p {
    color: white;
}
.getInTouch li.footer-address p:nth-of-type(2) {
  line-height: .5rem;
  margin: 0 0 5px;
  padding-bottom: 2rem;
}
.getInTouch li a:hover {
  color: #192537;
}

/* SOCIAL ICONS */

a > i {
    padding: 0 .5rem 0 .5rem;
}


/* SUBSCRIBE */

#subscribe {
    background-color: #192537;
    color: #fff;
    margin-top: 1rem;
}
#subscribe:hover {
    background-color: #b09e80;
    color: #192537;
    border: 1px solid #192537;
}
#copy {
    text-align: center;
    padding-top: 2rem;
}
